{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.model }}
  </h1>

  <div class="container-fluid py-4">
    <div class="row ppp">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-body px-0 pb-2">
            <div class="ppp">

              <h4>Topic: {{ newspaper.topic.name }}</h4>
              <h5>Title: {{ newspaper.title }}</h5>
              <ul>
              {% for redactor in newspaper.publishers.all %}
                <li>Redactors: {{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
              {% endfor %}
              </ul>
                <p>{{ newspaper.content }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>


      <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger ">
      Delete
    </a>
    <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary ">
      Update
    </a>
{% endblock %}
