{% extends "base.html" %}

{% block content %}
  <div class="ppp">
    <h1>
      Username: {{ redactor.username }}
    </h1>

    <p><strong>First name:</strong> {{ redactor.first_name }}</p>
    <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
    <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>
    <p><strong>Is staff:</strong> {{ redactor.is_staff }}</p>

    <div class="ml-3">
      <h4>Newspapers</h4>

      {% for newspaper in redactor.newspapers.all %}
          <hr>
          <p><strong>Title:</strong> {{ newspaper.title }}</p>
          <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
          <p class="text-muted"><strong>Id:</strong> {{newspaper.id}}</p>

      {% empty %}
        <p>No newspapers!</p>
      {% endfor %}
    </div>
      <button class="btn btn-success" type="button" onclick="location.href='{% url 'agency:redactor-update' pk=redactor.pk %}'">Update</button>
      <button class="btn btn-danger" type="button" onclick="location.href='{% url 'agency:redactor-delete' pk=redactor.pk %}'">Delete</button>
  </div>
{% endblock %}
