{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container-lg py-4">
    <div class="row">
      <div class="card my-4">
        <div class="container-lg">
          <div class="card-body">
            <div class="col-12">
              <h4>{{ object|yesno:"Update,Create" }} redactor</h4>
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
