body {
    margin-top: 20px;
    background-color: #ff0;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 100%;
}

.img2 {
  width: 150%;
}
